[submodule "pathogen"]
	path = pathogen
	url = https://github.com/tpope/vim-pathogen/
[submodule "bundle/drupal-snippets"]
	path = bundle/drupal-snippets
	url = https://github.com/theunraveler/Drupal-Snippets-for-Vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/UltiSnips"]
	path = bundle/UltiSnips
	url = git://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-skeleton"]
	path = bundle/vim-skeleton
	url = https://github.com/kana/vim-skeleton
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim
[submodule "bundle/python-imports.vim"]
	path = bundle/python-imports.vim
	url = https://github.com/phillipberndt/python-imports.vim.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/clang_complete"]
	path = bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "bundle/SuperTab"]
	path = bundle/SuperTab
	url = https://github.com/ervandew/supertab
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "bundle/julia-vim"]
	path = bundle/julia-vim
	url = git://github.com/JuliaLang/julia-vim.git
[submodule "bundle/vim-localvimrc"]
	path = bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc
[submodule "bundle/vim-bracketed-paste"]
	path = bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste
[submodule "bundle/ctrlp-py-matcher"]
	path = bundle/ctrlp-py-matcher
	url = https://github.com/FelikZ/ctrlp-py-matcher
