snippet doctype "HTML 5"
<!DOCTYPE HTML>
endsnippet

snippet html "HTML 5 base page"
<!DOCTYPE HTML>
<head>
	<meta charset="utf-8">
	<title>${1}</title>
	${0}
</head>
<body>
</body>
endsnippet

snippet body "Body" !
<body>
	${0}
</body>
endsnippet

snippet script "Script source"
<script type="text/javascript" src="${1}"></script>${0}
endsnippet
