snippet fun "Function" b
function ${1:name}(${2:args}) {
	$0
}
endsnippet

snippet ready "document.ready()" b
$(document).ready(function() {
	$0
});

endsnippet

snippet $. "jQuery Event Handler" 
$("${1}").${2}(function() {
	$0
});
endsnippet
